.biografia{
    display: flex;
    align-items: center;
    margin: 5% 5% 5% 5%;
}

@mixin Textos {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.textoBio{
    @include Textos();
}

.textoBio2{
    @include Textos();
    font-size: 0.8rem;
    width: 100%;
    
}
