.biografia{
    display: flex;
    align-items: center;
    margin: 5% 5% 5% 5%;
}

.textoBio{
    display: flex;
    flex-direction: column;
}

.textoBio2{
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}
