$redes: (
    facebook:rgb(38, 38, 100),
    instagram:rgb(224, 159, 129),
    linkedin:rgb(85, 183, 216),
);

.facebook:hover{
    background-color: map-get($map: $redes, $key: facebook);
}

.instagram:hover{
    background-color: map-get($map: $redes, $key: instagram);
}

.linkedin:hover{
    background-color: map-get($map: $redes, $key: linkedin);
}

.footer{
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textoFooter{
    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
    font-style: italic;
    color:$color4
}