

.header{
    background-image:
    url("../imagenes/gerardoHeader.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: header;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
}

/*navegador*/ 
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

nav ul li{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-decoration: none;

    &:hover{
        background-color:$color1;
    }
}

/*TITULOS*/
h1{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: $color5;
}
h2{
    @extend h1;
    text-align: center;

}
h3{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color:$color1;
}

.navbar-toggler{
    border: 0 !important;
    box-shadow: unset !important;
}