@import "header";
@import "inicio";
@import "servicio";
@import "producto";
@import "biografia";
@import "contacto";
@import "footer";
@import "medias";


*{
    padding: 0;
    margin: 0;
}

.nomargin{
    margin: 0;
}