*{
    padding: 0;
    margin: 0;
}

.nomargin{
    margin: 0;
}

.header{
    background-image:
    url(/imagenes/gerardoHeader.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: header;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
}

/*navegador*/ 
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

nav ul li{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-decoration: none;
}

/*animacion del navegador*/ 
nav ul :hover{
    background-color: rgb(131, 189, 141);
} 

/*TITULOS*/
h1{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: rgb(12, 12, 127);
}
h2{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
    color: rgb(12, 12, 127);
}
h3{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: rgb(74, 74, 80);
}

/*INICIO*/ 
.agroterra{
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    background-color: rgb(212, 231, 255);
}

.index{
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
}

.texto1{
    text-align: start;
    font-size: 1rem;
    font-weight: 400;
}

.video{
}

/*PRODUCTOS*/ 

/*grid de productos*/ 
.contenedor{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr auto;
    grid-template-areas:
    "header header header header" 
    "producto1 producto2 producto3 producto4"
    "producto5 producto6 producto7 producto8"
    "footer footer footer footer";
}

/*Lista de productos*/ 
.producto1{
    grid-area: producto1;
}

.producto2{
    grid-area: producto2; 
}

.producto3{
    grid-area: producto3;
}

.producto4{
    grid-area: producto4;
}

.producto5{
    grid-area: producto5;  
}

.producto6{
    grid-area: producto6; 
}

.producto7{
    grid-area: producto7;
}

.producto8{
    grid-area: producto8;
}

/*flexbox productos*/
.ImgProducto{
    background-color: white;
    display: flex;
    justify-content: center;
}

.TextProducto{
    background-color: rgb(212, 231, 255); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

/*animaciones de productos*/ 
.TextProducto:hover{
    background-color: rgb(167, 173, 255); 
}

/*SERVICIOS*/
.servicios{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: azure;
    margin: 100px;
}

/*BIOGRAFIA*/
.biografia{
    display: flex;
    align-items: center;
    margin: 5% 5% 5% 5%;
}

.textoBio{
    display: flex;
    flex-direction: column;
}

.textoBio2{
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*footer*/ 
.footer{
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textoFooter{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-style: italic;
    color: rgb(255, 255, 255);
}

/*medias*/ 

@media screen and (max-width:900px){
    .contenedor{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr 1fr 1fr auto;
        grid-template-areas:
        "header header header" 
        "producto1 producto2 producto3" 
        "producto4 producto5 producto6" 
        "producto7 producto8 none"
        "footer footer footer";
    }

    .biografia{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .textoBio{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .textoBio2{
        text-align: center;
    }

    .index{
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .video{
        display: flex;
        justify-content: center;
    }

    .intro, .texto1{
        text-align: center;
    }
}

@media screen and (max-width:600px){
    .contenedor{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr 1fr 1fr 1fr auto;
        grid-template-areas:
        "header header" 
        "producto1 producto2"
        "producto3 producto4" 
        "producto5 producto6" 
        "producto7 producto8"
        "footer footer";
    }

    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav ul li{
        display: flex;
        flex-direction: row;
        display: inline-block;
    }

    .biografia{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    .textoBio{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .textoBio2{
        text-align: center;
    }

    .index{
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .video{
        display: flex;
        justify-content: center;
    }

    .intro, .texto1{
        text-align: center;
    }
}