$color1:rgb(131, 189, 141);
$color2:rgb(145, 145, 197);
$color3:rgb(74, 74, 80);
$color4:azure;
$color5:rgb(39, 39, 151);

@import "header";
@import "inicio";
@import "servicio";
@import "producto";
@import "biografia";
@import "contacto";
@import "footer";
@import "medias";


*{
    padding: 0;
    margin: 0;
}

.nomargin{
    margin: 0;
}
